<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-xs-12" >
      <div class="charon-signUp-form-main">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required>
          </div>
          <input type="submit" value="Invitation Only Now" class="btn btn-primary" disabled>
        </form>
      </div>

      <div class="charon-signUp-form-policy">
        <small><a href="#">Terms of Service and Privacy Policy</a></small>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
